.messager_cont{
    display: flex;
    height: 100%
}
.users_cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30vw;
    border-right: 1px solid #66FCF1;
    position: relative;
}
.users{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:91% ;
}
.user{
    margin: 10px;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #66FCF1;
}
.chat_cont{
    position: relative;
    width: 70vw;
    
}
.buttom_men{
    height: 8%;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #66FCF1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top_men{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #66FCF1;
}